# Log files
logs
# Experiment directory
sandbox

# Python cache files and directory
__pycache__
*.pyc

# Results
results
nowcasts.csv
nowcasts_*.csv

# Visual Studio code settings
.vscode

# Pytest cache
.pytest_cache